name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Add remote 
        env:
          HF: ${{ secrets.HG }}
        run: git remote add space https://jmarquezr:$HF@huggingface.co/spaces/jmarquezr/demo2
      - name: Push to hub
        env:
          HF: ${{ secrets.HG }}
        run: git push --force https://jmarquezr:$HF@huggingface.co/spaces/jmarquezr/demo2 master:main
